.leaderboard-wrapper {
  max-width: 560px;
  margin: 0 auto;
}

.leaderboard-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.leaderboard-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5px;
}

.leaderboard-label {
  display: inline-block;
}

.leaderboard-result {
  display: inline-block;
  float: right;
}

.leaderboard-wrapper .card-avatar {
  width: 20%;
}

.leaderboard-wrapper .card-description {
  width: 70%;
}

.leaderboard-score {
  text-align: center;
  height: 30px;
  background-color: rgb(230,230,230, 0.8);
  vertical-align: middle;
  line-height: 32px;
}

.leaderboard-badge {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  background: #148f77;
  font-size: 1.5rem;
  display: block;
  margin: 10px auto;
}

.leaderboard-square {
  background-color: rgb(240,240,240, 0.8);
}